body.app {
  h1,h2 {
    text-align: center;
  }
  
  color: #e3f1ff;
  font-family: "Open Sans", sans-serif;

  .content.console {
    font-family: "Fira Mono", monospace;
  }
  .code-text {
    color: #e3f1ff;
  }
  .code {
    margin-bottom: 0;
  }
  .code-indented {
    margin-left: 2em;
  }
  
  .panel-inner {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1em;
    
    .content {
      max-width: 750px;
      margin: 0 auto;
    }
  }
  
  .work-experience {
    background-color: #e8c6c5;
    color: #333333;
  }
  
  .panel-container {
    padding: 5em 0 1em 0;
  }
  
  .about-me {
    background-color: #4a5365;
  }
  
  .header-name {
    margin: 1em auto;
    color: #333333;
  }
  
  .panel-header {
    max-width: 750px;
    margin: 0 auto;
  }
  
  .position-container {
    margin-top: 2em;
  }
  
  .name-header {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
  }
  
  .header-container {
    background-color: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .socials-container::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
  }
  
  .projects {
    h2 {
      color: #212529;
    }
    background-color: #eee;
    
    .projects-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      position: relative;
      gap: 15px 15px;
    }
    
    .project-wrapper {
      h4 {
        text-align: left;
      }
      position: relative;
      padding: 1.5em;
      background-color: #ffffff;
      color: #333333;
      min-height: 250px;
    }
    
    .list {
      padding: 0;
      list-style-type: none;
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }
    
    .tech-container {
      position: absolute;
      bottom: 0;
      margin-top: 20px;
      
      li {
        margin-right: 1em;
      }
    }
  }
}
