body.app {
  color: #e3f1ff;
  font-family: "Open Sans", sans-serif;

  .content.console {
    font-family: "Fira Mono", monospace;
  }
  .code-text {
    color: #e3f1ff;
  }
  .code {
    margin-bottom: 0;
  }
  .code-indented {
    margin-left: 2em;
  }
  
  .panel-inner {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1em;
    
    .content {
      max-width: 700px;
      margin: 0 auto;
    }
  }
  .work-experience {
    background-color: #ddd;
    padding: 5em 0 1em 0;
    color: #333333;
  }
  
  .about-me {
    background-color: #4a5365;
  }
  
  .header-name {
    margin: 1em auto;
    color: #333333;
  }
  
  .work-experience-header {
    max-width: 700px;
    margin: 0 auto;
  }
  
  .position-container {
    margin-top: 2em;
  }
  
  .name-header {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
  }
  
  .header-container {
    background-color: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
